/* src/styles/animations.css */

/* Fade in animation */
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Fade-up animation for scrolling */
  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Apply animations */
  .animate-fadeIn {
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  .animate-fadeUp {
    animation: fadeUp 1s ease-in-out forwards;
  }
  
  .animate-fadeInUp {
    animation: fadeUp 1s ease-in-out forwards;
  }
  
  .text-futuristic {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 2px;
  }
  